{% extends "base.html" %}
{% block start %}
<div class="d-grid gap-2 col-6 mx-auto">
    <h2 style="display: flex; justify-content: center; align-items: center;">Choose the Course you want to begin!!</h2>
    <button class="btn btn-info btn-lg" type="button" onclick="location.href = '/home/sem4/ada'">Analysis and Design of Algorithms</button>
    <button class="btn btn-dark btn-lg" type="button" onclick="location.href = '/home/sem4/os'">Operating Systems</button>
    <button class="btn btn-info btn-lg" type="button" onclick="location.href = '/home/sem4/cn'">Computer Networks</button>
    <button class="btn btn-dark btn-lg" type="button" onclick="location.href = '/home/sem4/psycho'">Psychology</button>
    <button class="btn btn-info btn-lg" type="button" onclick="location.href = '/home/sem4/fin'">Finance</button>
  </div>
{% endblock %}