{% extends "base.html" %}
{% block start %}
<div class="d-grid gap-2 col-6 mx-auto">
    <h2 style="display: flex; justify-content: center; align-items: center;">Choose the Course you want to begin!!</h2>
    <button class="btn btn-info btn-lg" type="button" onclick="location.href = '/home/sem5/sc'">Soft Computing</button>
    <button class="btn btn-dark btn-lg" type="button" onclick="location.href = '/home/sem5/se'">Software Engineering</button>
    <button class="btn btn-info btn-lg" type="button" onclick="location.href = '/home/sem5/toc'">Theory of Computation</button>
    <button class="btn btn-dark btn-lg" type="button" onclick="location.href = '/home/sem5/ml'">Machine Learning</button>
    <button class="btn btn-info btn-lg" type="button" onclick="location.href = '/home/sem5/wirc'">Web Information Retrieval And Crawling</button>
  </div>
{% endblock %}